@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
/*
tema claro:

--text: #061a12;
--background: #f0fcf7;
--primary: #2ed396;
--secondary: #8ad1e6;
--accent: #6ba2df;

--text: #f0fcf7;
--background: #061a12;
--primary: #2ed396; 
--secondary: #264f5c; 
--accent: #2d445e;
*/
